* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}

body {
    line-height: 1.6;
    color: #333;
    background-color: beige;
}

header {
    background-color: chocolate;
    color: #fff;
    padding: 20px 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
}

.container {
    width: 80%;
    margin: 0 auto;
    height: 80%;
  
}

header h1 {
    text-align: center;
    font-size: 2.5rem;
}

h2 {
    text-align: left;
}

i {
    border: 0;
    margin: 20;
    padding: 0;
}

nav ul {
    list-style: none;
    text-align: center;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    text-decoration: double;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

nav ul li a:hover {
    text-decoration: underline;
}

.section {
    padding: 60px 0;
}

h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-text {
    width: 60%;
}

.about-image img {
    max-width: 900px;
    border-radius: 10px;
}

.skills-grid, .projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.skill-bar {
    background-color: #ddd;
    border-radius: 25px;
    overflow: hidden;
    height: 30px;
    margin: 10px 0;
}

.skill-level {
    background-color: chocolate;
    color: #fff;
    text-align: center;
    line-height: 30px;
    height: 100%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

.contact-form input, .contact-form textarea {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.contact-form button {
    padding: 10px;
    background-color: chocolate;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #555;
}

footer {
    background-color: chocolate;
    color: white;
    text-align: center;
    padding: 20px 0;
    height: 50%;
}

footer .social-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    align-self: center;
    margin-right: 10px;
    flex-direction: row;
}

footer .social-links a:hover {
    text-decoration: underline;
}

footer .social-links img {
    margin-top: 0 10%;

}

footer .p {
    margin-top: 10%;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        margin-left: 0;
        margin-top: 20px;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-end;
    }
}